<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header" data-background-color="red">
              <h4 class="title">Edition du vidéo projecteur {{salle.id}}</h4>
              <p class="category">Retour <a [routerLink]="['/videoprojs']" style="text-decoration: underline; color:rgba(255, 255, 255, 0.62);">liste des vidéo projecteurs</a>
                > <a [routerLink]="['/videoprojs/show', salle.id]" style="text-decoration: underline; color:rgba(255, 255, 255, 0.62);">Détail du vidéo projecteur {{salle.id}}</a>
              </p>
            </div>
        
            <div class="card-content table-responsive">
        
              <form [formGroup]="videoProjAddForm" novalidate (ngSubmit)="onSubmit()">
                <input type="hidden" formControlName="id">
          
                <div class="row">
                  <div class="form-group">
                    <label class="control-label">Code</label>
                    <input type="text" class="form-control" formControlName="code" value="{{salle.code}}">
                  </div>
                </div>
          
                <div class="row">
                  <div class="form-group">
                    <label class="control-label">Cout</label>
                    <input type="number" class="form-control" formControlName="cout" value="{{salle.cout}}">
                  </div>
                </div>
          
                <div class="row">
                  <div class="form-group">
                    <label class="control-label">Disponibilite</label>
                    <input type="text" class="form-control" formControlName="isDisponible" value="{{salle.isDisponible}}">
                  </div>
                </div>
                <div class="clearfix"></div>
                <button type="submit" class="btn btn-danger pull-right">Sauvegarder</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>