<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header" data-background-color="red">
            <h4 class="title">Détail de l'ordinateur</h4>
            <p class="category">Retour <a [routerLink]="['/ordinateurs']" style="text-decoration: underline; color:rgba(255, 255, 255, 0.62);">liste des ordinateurs</a>            </p>
          </div>
          <div class="card-content table-responsive">
            <p></p>
            Code : {{ordinateur.code}}<br>
            Cout : {{ordinateur.cout}}<br>
            Disponible : {{ordinateur.isDisponible}}<br>
            Type de processeur : {{ordinateur.processeur}}<br>
            Capacité de la ram : {{ordinateur.ram}}<br>
            Capacité du disque dur : {{ordinateur.disqueDur}}<br>
            Année d'achat : {{ordinateur.anneeAchat}}<br>
            Stagiaire : {{ordinateur.stagiaire}} 





          </div>
        </div>
      </div>
    </div>
  </div>
</div>