<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header" data-background-color="red">
            <h4 class="title">Ajout d'un nouveau cursus</h4>
            <p class="category">Ceci est un formulaire pour ajouter un nouveau cursus</p>
          </div>
          <div class="card-content">
            <form [formGroup]="cursusAddForm" novalidate (ngSubmit)="onSubmit()">
              <input type="hidden" formControlName="id">
              <div class="row">
                <div class="form-group form-black label-floating is-empty">
                  <label class="control-label">Titre</label>
                  <input type="text" class="form-control" formControlName="titre">
                </div>
              </div>
              <div class="row">
                <div class="form-group">
                    <label class="control-label">Date de début du cursus</label>
                    <input type="date" class="form-control" formControlName="dateDebut">
                </div>
              </div>
              <div class="row">
                <div class="form-group">
                    <label class="control-label">Date de fin du cursus</label>
                    <input type="date" class="form-control" formControlName="dateFin">
                </div>
              </div>
              <button type="submit" class="btn btn-danger pull-right">Ajouter un cursus</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>