<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Techniciens</h4>
                        <p class="category">Liste des techniciens</p>
                    </div>
                    <div class="card-content table-responsive">
                        <p-table [value]="listTechnicien">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th *ngFor="let col of cols" [pSortableColumn]="col.field">
                                        {{col.header}}
                                        <p-sortIcon [field]="col.field"></p-sortIcon>
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-item>
                                <tr>
                                    <td>{{item.id}}</td>
                                    <td>{{item.nom}}</td>
                                    <td>{{item.prenom}}</td>
                                    <td>{{item.adresse}}</td>
                                    <td>
                                        <div class="col-md-4">
                                            <a [routerLink]="['/techniciens/edit', item.id]"><i
                                                    class="material-icons">edit</i></a>
                                        </div>
                                        <div class="col-md-4">
                                            <a (click)="onDeleteOne(item.id)"><i class="material-icons">delete</i></a>
                                        </div>
                                        <div class="col-md-4">
                                            <a [routerLink]="['/techniciens/show', item.id]"><i class="material-icons">assignment</i></a>
                                        </div>
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template #empty>
                                <td></td>
                            </ng-template>
                        </p-table>
                        <br><br>
                        <a [routerLink]="['/techniciens/add']">
                            <button type="submit" class="btn btn-danger pull-right">
                                Ajouter
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

