<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header" data-background-color="red">
            <h4 class="title">Edition du cursus {{cursus.titre}} [{{cursus.dateDebut}} - {{cursus.dateFin}}]</h4>
            <p class="category">Retour <a [routerLink]="['/cursus']" style="text-decoration: underline; color:rgba(255, 255, 255, 0.62);">liste des cursus</a> >
                <a [routerLink]="['/cursus/show', cursus.id]" style="text-decoration: underline; color:rgba(255, 255, 255, 0.62);">Détail du cursus</a>
            </p>
          </div>
          <div class="card-content">
            <form [formGroup]="cursusAddForm" novalidate (ngSubmit)="onSubmit()">
              <input type="hidden" formControlName="id">
              <div class="row">
                <div class="form-group">
                  <label class="control-label">Titre</label>
                  <input type="text" class="form-control" formControlName="titre" value="{{cursus.titre}}">
                </div>
              </div>
              <div class="row">
                <div class="form-group">
                  <label class="control-label">Date de début du cursus</label>
                  <input type="date" class="form-control" formControlName="dateDebut" value="{{cursus.dateDebut}}">
                </div>
              </div>
              <div class="row">
                <div class="form-group">
                  <label class="control-label">Date de fin du cursus</label>
                  <input type="date" class="form-control" formControlName="dateFin" value="{{cursus.dateFin}}">
                </div>
              </div>
              <button type="submit" class="btn btn-danger pull-right">Sauvegarder</button>
              <button type="button" class="btn btn-default pull-right">Prévisualiser sur le calendrier</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <a>
              <img class="img" src="../assets/img/logos/open.jpg" />
            </a>
          </div>
          <div class="content">
            <h6 class="category text-gray">CEO / Co-Founder</h6>
            <h4 class="card-title">Alec Thompson</h4>
            <p class="card-content">
              Je suis un bon gestionnaire qui n'a peur de rien
            </p>
            <a class="btn btn-info btn-round">Modifier le cahier des charges</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <p-schedule [events]="events" [header]="header" defaultDate="2018-02-01" [editable]="true"></p-schedule>
    </div>
    <br><br>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header" data-background-color="red">
            <h4 class="title">Liste des formations</h4>
            <p class="category">Vous pouvez supprimer des formations</p>
          </div><br>
          <div class="card-content table-responsive">
            <p-table [value]="cursus.formations">
              <ng-template pTemplate="header">
                <tr>
                  <th *ngFor="let col of colsFormation" [pSortableColumn]="col.field">
                    {{col.header}}
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-item>
                <tr>
                  <td>{{item.id}}</td>
                  <td>{{item.matiere.titre}}</td>
                  <td>{{item.dateDebut}}</td>
                  <td>{{item.dateFin}}</td>
                  <td>{{item.formateur.nom}} {{item.formateur.prenom}}</td>
                  <td>
                    <a (click)="onDeleteOne(item.id)"><i class="material-icons">delete</i></a>
                  </td>
                </tr>
              </ng-template>
            </p-table><br>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>