<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header" data-background-color="red">
            <h4 class="title">Détail du cursus {{cursus.titre}}</h4>
            <p class="category">Retour <a [routerLink]="['/cursus']" style="text-decoration: underline; color:rgba(255, 255, 255, 0.62);">liste des cursus</a></p>
          </div>
          <div class="card-content">
            <p></p>
            Titre : {{cursus.titre}}<br>
            Date de début : {{cursus.dateDebut}}<br>
            Date de fin : {{cursus.dateFin}}<br>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
        <p-schedule [events]="eventsScheduler" [header]="headerScheduler" defaultDate="2018-02-01" [editable]="true"></p-schedule>
    </div>
  </div>
</div>