<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header" data-background-color="red">
            <h4 class="title">Détail du cursus {{cursus.titre}}</h4>
            <p class="category">Retour <a [routerLink]="['/cursus']" style="text-decoration: underline; color:rgba(255, 255, 255, 0.62);">liste des cursus</a></p>
          </div>
          <div class="card-content">
            <p></p>
            Titre : {{cursus.titre}}<br>
            Date de début : {{cursus.dateDebut}}<br>
            Date de fin : {{cursus.dateFin}}<br>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <a>
              <img class="img" src="../assets/img/logos/open.jpg" />
            </a>
          </div>
          <div class="content">
            <h6 class="category text-gray">CEO / Co-Founder</h6>
            <h4 class="card-title">Alec Thompson</h4>
            <p class="card-content">
              Je suis un bon gestionnaire qui n'a peur de rien
            </p>
            <a class="btn btn-danger btn-round">Télécharger le cahier des charges</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <p-schedule [events]="events" [header]="header" defaultDate="2018-02-01" [editable]="false"></p-schedule>
    </div>
    <br><br>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header" data-background-color="red">
            <h4 class="title">Liste des formations liées au cursus  {{cursus.titre}}</h4>
            <p class="category">Retour <a [routerLink]="['/cursus/edit', cursus.id]" style="text-decoration: underline; color:rgba(255, 255, 255, 0.62);">Cliquez ici pour aller dans la page d'édition</a></p>
          </div><br>
          <div class="card-content table-responsive">
            <p-table [value]="cursus.formations">
              <ng-template pTemplate="header">
                <tr>
                  <th *ngFor="let col of colsFormation" [pSortableColumn]="col.field">
                    {{col.header}}
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-item>
                <tr>
                  <td>{{item.id}}</td>
                  <td>{{item.matiere.titre}}</td>
                  <td>{{item.dateDebut}}</td>
                  <td>{{item.dateFin}}</td>
                  <td>{{item.formateur.nom}} {{item.formateur.prenom}}</td>
                </tr>
              </ng-template>
            </p-table><br><br>
            <a [routerLink]="['/cursus/add']"><button type="submit" class="btn btn-danger pull-right">Ajouter</button></a>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>