<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Ajout d'un nouveau technicien</h4>
                    </div>
                    <div class="card-content table-responsive">
                        <form [formGroup]="technicienAddForm" novalidate (ngSubmit)="onSubmit()">
                            <input type="hidden" formControlName="id">
                            <div class="row">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Nom</label>
                                    <input type="text" class="form-control" formControlName="nom">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Prenom</label>
                                    <input type="text" class="form-control" formControlName="prenom">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Adresse</label>
                                    <input type="text" class="form-control" formControlName="adresse">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Code Postal</label>
                                    <input type="text" class="form-control" formControlName="codePostal">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Mail</label>
                                    <input type="email" class="form-control" formControlName="mail">
                                </div>
                            </div>
                            <div class="row" *ngIf="listMateriels!=null">
                                <div class="form-group">
                                    <label class="control-label">Sélectionnez le materiel</label>
                                    <select multiple class="form-control" formControlName="materiels"
                                            style="width: 100%;">
                                        <option *ngFor="let t of listMateriels" [value]="t.id">
                                            {{t.code}} &nbsp;&nbsp; - &nbsp;&nbsp; (Technicien responsable actuel : <strong>{{t.technicien.nom}} {{t.technicien.prenom}}</strong>)
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <br><br>
                            <button type="submit" class="btn btn-danger pull-right">Ajouter</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



