<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Ajout d'un nouveau stagiaire</h4>
                        <p class="category">Retour <a [routerLink]="['/stagiaires']" style="text-decoration: underline; color:rgba(255, 255, 255, 0.62);">liste des stagiaires</a>
                        </p>
                    </div>
                    <div class="card-content table-responsive">
                        <form [formGroup]="stagiaireAddForm" novalidate (ngSubmit)="onSubmit()">
                            <input type="hidden" formControlName="id">
                            <div class="row">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Nom</label>
                                    <input type="text" class="form-control" formControlName="nom">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Prenom</label>
                                    <input type="text" class="form-control" formControlName="prenom">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Adresse</label>
                                    <input type="text" class="form-control" formControlName="adresse">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Code Postal</label>
                                    <input type="text" class="form-control" formControlName="codePostal">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Mail</label>
                                    <input type="email" class="form-control" formControlName="mail">
                                </div>
                            </div>
                            <div class="input-group mb-3 label-floating is-empty">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="input-group-text" for="inputGroupSelect01">Ordinateur</label>
                                </div>
                                <select class="custom-select" id="inputGroupSelect01">
                                    <option selected>Attribuer un ordinateur</option>
                                    <option *ngFor="let t of ordinateurs " [value]="t.id">
                                        {{t.id}} &nbsp;&nbsp; {{t.code}} &nbsp;&nbsp; {{t.processeur}}
                                    </option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-danger pull-right">Ajouter</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


