<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header" data-background-color="red">
            <h4 class="title">Edition du profil de {{gestionnaire.nom}} {{gestionnaire.prenom}}</h4>
            <p class="category">Retour <a [routerLink]="['/gestionnaires']" style="text-decoration: underline; color:rgba(255, 255, 255, 0.62);">liste des gestionnaires</a>
              > <a [routerLink]="['/gestionnaires/show', gestionnaire.id]" style="text-decoration: underline; color:rgba(255, 255, 255, 0.62);">Détail de {{gestionnaire.nom}} {{gestionnaire.prenom}}</a>
            </p>
          </div>
          <div class="card-content">
            <form [formGroup]="gestionnaireAddForm" novalidate (ngSubmit)="onSubmit()">
              <input type="hidden" formControlName="id">
              <div class="row">
                <div class="form-group">
                  <label class="control-label">Nom</label>
                  <input type="text" class="form-control" formControlName="nom" value="{{titre.nom}}">
                </div>
              </div>
              <div class="row">
                <div class="form-group">
                  <label class="control-label">Prenom</label>
                  <input type="text" class="form-control" formControlName="prenom" value="{{gestionnaire.prenom}}">
                </div>
              </div>
              <div class="row">
                <div class="form-group">
                  <label class="control-label">Adresse</label>
                  <input type="text" class="form-control" formControlName="adresse" value="{{gestionnaire.adresse}}">
                </div>
              </div>
              <div class="row">
                <div class="form-group">
                  <label class="control-label">Code postal</label>
                  <input type="text" class="form-control" formControlName="codePostal" value="{{gestionnaire.codePostal}}">
                </div>
              </div>
              <div class="row">
                <div class="form-group">
                  <label class="control-label">Mail</label>
                  <input type="email" class="form-control" formControlName="mail" value="{{gestionnaire.mail}}">
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>About Me</label>
                    <div class="form-group form-black label-floating is-empty">
                      <label class="control-label"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label>
                      <textarea class="form-control" rows="3"></textarea>
                    </div>
                  </div>
                </div>
              </div>

              <button type="submit" class="btn btn-danger pull-right">Sauvegarder</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>