<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header" data-background-color="red">
            <h4 class="title">Ajout d'une nouvelle salle</h4>
            <p class="category">fgfdgfdgfdgfgfdgf</p>
          </div>
          <div class="card-content table-responsive">
            <form [formGroup]="salleAddForm" novalidate (ngSubmit)="onSubmit()">
              <input type="hidden" formControlName="id">
              <div class="row">
                <div class="form-group form-black label-floating is-empty">
                  <label class="control-label">Code</label>
                  <input type="text" class="form-control" formControlName="code">
                </div>
              </div>
              <div class="row">
                <div class="form-group form-black label-floating is-empty">
                  <label class="control-label">Cout</label>
                  <input type="number" class="form-control" formControlName="cout">
                </div>
              </div>
              <div class="row">
                <div class="form-group form-black label-floating is-empty">
                  <label class="control-label">Disponibilite</label>
                  <input type="text" class="form-control" formControlName="isDisponible">
                </div>
              </div>
              <div class="row">
                <div class="form-group form-black label-floating is-empty">
                  <label class="control-label">Capacité</label>
                  <input type="number" class="form-control" formControlName="capacite">
                </div>
              </div>
              <div class="clearfix"></div>
              <button type="submit" class="btn btn-info">Ajouter</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>