<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header" data-background-color="red">
            <h4 class="title">Détail de la salle {{salle.id}}</h4>
            <p class="category">Retour <a [routerLink]="['/salles']" style="text-decoration: underline; color:rgba(255, 255, 255, 0.62);">liste des salles</a>            </p>
          </div>
          <div class="card-content table-responsive">
            <p></p>
            Code : {{salle.code}}<br>
            Cout : {{salle.cout}}<br>
            Disponible : {{salle.isDisponible}}<br>
            Capacité : {{salle.capacite}}<br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>